@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.enter-btn {
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.enter-btn:hover,
.enter-btn:active {
  letter-spacing: 5px;
}

.enter-btn::after,
.enter-btn::before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.enter-btn:hover::after,
.enter-btn:hover::before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.enter-btn:hover::before {
  bottom: auto;
  top: 0;
  width: 100%;
}
